<form (ngSubmit)=onSubmit(f) #f="ngForm">
  <table class="table">
    <tr><td>Name</td><td><input type="text" name="name" class="form-control" ngModel></td></tr>
    <tr><td>Roll No</td><td><input type="text" name="roll" class="form-control" ngModel></td></tr>
    <tr><td>Adm No</td><td><input type="text" name="roll" class="form-control" ngModel></td></tr>
    <tr><td>College</td><td><input type="text" name="clg" class="form-control" ngModel></td></tr>
    <tr><td>Branch</td><td><input type="text" name="branch" class="form-control" ngModel></td></tr>
    <tr><td>DOB</td><td><input type="text" name="dob" class="form-control" ngModel></td></tr>
    <tr><td>Email</td><td><input type="text" name="email" class="form-control" ngModel></td></tr>
    <tr><td></td><td><button type="submit" class="btn btn-info">Submit</button></td></tr>
  </table>
</form>